aiohttp
aiohttp-cors
coverage>=6.4.2
debugpy
homeassistant==2022.8.4
isort
Jinja2
pylint
pyserial
pytest>=7.2.0
pytest-aiohttp
pytest-cov>=3.0.0
pytest-homeassistant-custom-component
voluptuous
zever-local==1.0.3
